* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: #e8eaf6;
    font-family: sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    box-shadow: 0 6px 8px rgba(0,0,0,.1);
    width: 50%;
    padding: 20px;
}

.container ul {
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 5px;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.container input {
    width: 100%;
    padding: 10px 8px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.container ul li {
    padding: 0px 0px 10px;
}

.container ul li a {
    font-size: 16px;
    text-decoration: none;
}