* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: white;
    font-family: sans-serif;
}

.container {
    margin: 50px;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0,0,0,.4);
    width: 50%;
    padding: 40px;
    border: 1px solid grey;
    border-top: 10px solid blueviolet;
    border-radius: 25px;
}

.container ul {
    text-decoration: none;
    list-style-type: none;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 2.2rem;
}

.container input {
    width: 100%;
    padding: 10px 8px;
    font-size: 1.2rem;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid grey;
}

.container ul li {
    padding: 0px 0px 10px;
}

.container ul li a {
    font-size: 18px;
    text-decoration: none;
}

button {
    padding: 10px;
    margin: 0px 5px 30px 5px;
    border-radius: 5px;
    border: 1px solid black;
    text-transform: uppercase;
    background: white;
    cursor: pointer;
    font-size: .8em;
}

button:hover {
    background-color: blueviolet;
    color: white;
    /* transition: ease-in-out, 2000; */
}